{% extends 'base.html' %}

{% block title %}
    Home
{% endblock title %}

{% load static %}
{% block content %}

<div class="py-lg-6 py-4 bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
          <div>
            <h1 class="text-white display-4 mb-0">Welcome to TweetMe!</h1>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="py-6">
    <div class="container"> 
        <div class="card">
            <div class="card-body">
                <div class="d-lg-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center mb-4 mb-lg-0">
                        <img src="{% static 'assets/images/avatar/avatar.jpg' %}" id="img-uploaded" class="avatar-xl rounded-circle" alt="">
                        <div class="ml-3">
                            <div class="d-none alert alert-danger" id="tweet-create-form-error">

                            </div>
                            <form action="{% url 'create_tweet' %}" method="POST" id="tweet-create-form" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="/">
                                <textarea name="content" maxlength="" required placeholder="What's happening?" class="form-control" id="" cols="150" rows="3"></textarea>
                                <div class="mt-1">
                                    <button type="submit" class="btn btn-outline-primary btn-sm">Tweet</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="dropdown-divider"></div>
                <!-- Tweets -->
                <div id="tweets">
                    Loading...
                </div>
                <!-- //Tweets -->
            </div>
        </div>
    </div>
</div>


<script>
    // Tweet Create Form Handling
    
    function handleTweetFormError(msg, display){
        const formErrorElement = document.getElementById("tweet-create-form-error")
        if (display === true){
            formErrorElement.setAttribute("class", "alert alert-danger")
            formErrorElement.innerText = msg
        } else{
            formErrorElement.setAttribute("class", "d-none alert alert-danger")
            formErrorElement.innerText = msg
        }
    }

    function handleTweetCreateFormSubmit(event) {
        event.preventDefault()
        const myForm = event.target
        const myFormData = new FormData(myForm)
        const url = myForm.getAttribute("action")
        const method = myForm.getAttribute("method")
        const xhr = new XMLHttpRequest()
        const responseType = "json"
        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
        xhr.onload = function () {
            if (xhr.status === 201){
                handleTweetFormError("", false)
                const newTweetJson = xhr.response
                const newTweetElement = formatTweetElement(newTweetJson)
                const ogHtml = tweetsContainerElement.innerHTML
                tweetsContainerElement.innerHTML = newTweetElement + ogHtml
                myForm.reset()
            } else if (xhr.status === 400) {
                const errorJson = xhr.response
                const contentError = errorJson.content
                let contenErrorMsg;
                if (contentError){
                    contenErrorMsg = contentError[0]
                } else {
                    alert("An error occured. Please try again.")
                }
                handleTweetFormError(contenErrorMsg, true)
                console.log(contenErrorMsg)
            }else if (xhr.status === 401){
                const errorJson = xhr.response
                const contentError = errorJson.error
                console.log(contentError)
                alert(contentError)
                window.location.href = "/login"
            } 
            else if (xhr.status === 500){
                alert("There was a server error, please try again.")
            }
        }
        xhr.onerror = function () {
            alert("An error occurred. Please try again.")
        }
        xhr.send(myFormData)
    }
    
    const tweetCreateForm = document.getElementById('tweet-create-form')
    tweetCreateForm.addEventListener("submit", handleTweetCreateFormSubmit)
    
    
    // Tweet List Handling
    const tweetsContainerElement = document.getElementById('tweets')
    
    function loadTweets(tweetsElement){
        const xhr = new XMLHttpRequest()
        const method ="GET"
        const url = "{% url 'tweets' %}"
        const responseType = "json"

        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.onload = function(){
            const listedTweets = xhr.response
            // const listedTweets = serverResponse.response
            var finalTweetStr = ""
            for (var i = 0; i < listedTweets.length; ++i){
                var tweet =  listedTweets[i]
                var formattedTweet = formatTweetElement(tweet)
                finalTweetStr += formattedTweet
            }

            tweetsElement.innerHTML = finalTweetStr
                
        }
        xhr.send()
    }
    
    loadTweets(tweetsContainerElement)

    function handleDidLike(tweet_id, currentCount) {
        console.log(tweet_id, currentCount)
    }

    function LikeBtn(tweet){
        return `
        <a onclick='handleDidLike(${tweet.id}, ${tweet.likes})'>
            <i class="fe fe-heart mr-1"></i><small>${tweet.likes}</small>
        </a>`
    }

    function formatTweetElement(tweet) {
        var formattedTweet =
        `
        <div class="d-lg-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center mb-4 mb-lg-0">
                <img src="{% static 'assets/images/avatar/avatar.jpg' %}" id="img-uploaded" class="avatar-lg rounded-circle" alt="">
                <div class="ml-3">
                    <h4 class="mb-0">Nickname <small style="color:grey">@username ${tweet.date_stamp}</small></h4>
                    <p class="mb-0" id='tweet-${tweet.id}'>
                        ${tweet.content}
                    </p>
                    <div class='btn-group d-flex'>
                        <div>
                            ${LikeBtn(tweet)}
                        </div>
                        <div class="ml-3">
                            <i class="fe fe-refresh-ccw mr-1"></i>
                        </div>
                        <div class="ml-3">
                            <i class="fe fe-message-square mr-1"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dropdown-divider"></div>
            ` 
        return formattedTweet
    }

    
</script>

{% endblock content %}
    
   