{% load static %}
<nav class="navbar navbar-expand-lg navbar-default">
    <div class="container-fluid px-0">
      <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'assets/images/brand/logo/tweetme.svg' %}" width="112" height="29" alt=""></a>
      <!-- Mobile view nav wrap -->
      <ul class="navbar-nav navbar-right-wrap ml-auto d-lg-none d-flex nav-top-wrap">
        <li class="dropdown ml-2">
            {% if user.is_authenticated %}
            <li class="dropdown stopevent">
              <a class="btn btn-light btn-icon rounded-circle text-muted indicator indicator-primary" href="#!" role="button" id="dropdownNotification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fe fe-bell"> </i>
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow" aria-labelledby="dropdownNotification">
                  <div>
                      <div class="border-bottom px-3 pb-3 d-flex justify-content-between align-items-center">
                          <span class="h5 mb-0">Notifications</span>
                          <a href="# " class="text-muted"><span class="align-middle"><i class="fe fe-settings mr-1"></i></span></a>
                      </div>
                      <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 300px;">
                        <ul class="list-group list-group-flush notification-list-scroll" style="overflow: hidden; width: auto; height: 300px;">
                        {% for task in tasks %}  
                          <li class="list-group-item bg-light">
                            <div class="row">
                                <div class="col">
                                    <div class="d-flex">
                                        <img src="{{task.track.thumbnail.url}}" alt="" class="avatar-md rounded-circle">
                                        <div class="ml-3">
                                            <h5 class="font-weight-bold mb-1">{{ task.track.course_title | truncatewords:3 }}</h5>
                                            <p class="mb-3">
                                                {{task.title | capfirst}}
                                            </p>
                                            <span class="font-size-xs text-muted">
                                                <span><span class="fe fe-thumbs-up text-success mr-1"></span>{{task.date_added }},</span>
                                                <span class="ml-1">{{task.date_added | time}}</span>
                                            </span>
                                        </div>
                                    </div>
                                    <a class="stretched-link" href="{% url 'courses:task-solution' task.id %}"></a>
                                </div>
                            </div>
                          </li>
                          {% endfor %}
                      </ul>
                      <div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
                      <div class="border-top px-3 pt-3 pb-0">
                          <a href="{% url 'home' %}" class="text-link font-weight-semi-bold">See all Notifications</a>
                      </div>
                  </div>
              </div>
          </li>   
          <a class="rounded-circle" href="#!" role="button" id="dropdownUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="avatar avatar-md avatar-indicators avatar-{{user.profile.status}}">
                <img alt="avatar" src="{% static 'assets/images/avatar/avatar.jpg' %}" class="rounded-circle">
            </div>
          </a>
          {% endif %}
          <div class="dropdown-menu dropdown-menu-right shadow" aria-labelledby="dropdownUser">
            {% if user.is_authenticated %}
            <div class="dropdown-item">
              <div class="d-flex">
                <div class="avatar avatar-md avatar-indicators avatar-{{user.profile.status}}">
                  <img alt="avatar" src="{% static 'assets/images/avatar/avatar.jpg' %}" class="rounded-circle">
                </div>
                <div class="ml-3 lh-1">
                  <h5 class="mb-1">{{user.first_name | capfirst}} {{user.last_name | capfirst}}</h5>
                  <p class="mb-0 text-muted">{{user.email}}</p>
                </div>
              </div>
            </div>
            <div class="dropdown-divider"></div>
            <ul class="list-unstyled">
              <li>
                <a class="dropdown-item" href="{% url 'home' %}">
                  <i class="fe fe-user mr-2"></i>My learning
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="">
                  <i class="fe fe-user mr-2"></i>Profile
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="">
                  <i class="fe fe-settings mr-2"></i>Settings
                </a>
              </li>
            </ul>
            <div class="dropdown-divider"></div>
            <ul class="list-unstyled">
              <li>
                <a class="dropdown-item" href="">
                  <i class="fe fe-power mr-2"></i>Sign Out
                </a>
              </li>
            </ul>
            {% else %}
            <ul class="list-unstyled">
              <li>
                <a class="dropdown-item" href="">
                  <i class="fe fe-user-plus mr-2"></i>Register
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="">
                  <i class="fe fe-user mr-2"></i>Log In
                </a>
              </li>
            </ul>
            {% endif %}
          </div>
        </li>
      </ul>
      <!-- Button -->
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
        <span class="icon-bar top-bar mt-0"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
      </button>
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="navbar-default">
        <form action="{% url 'home' %}" class="mt-3 mt-lg-0 ml-lg-3 d-flex align-items-center">
          <span class="position-absolute pl-3 search-icon">
            <i class="fe fe-search"></i>
          </span>
          <input type="search" class="form-control pl-6" name="query" placeholder="Search Tweets">
        </form>
        {% if request.user.is_authenticated %}
        <ul class="navbar-nav navbar-right-wrap ml-auto d-none d-lg-block">
          {% if tasks %}
            <li class="dropdown d-inline-block stopevent">
              <a class="btn btn-light btn-icon rounded-circle text-muted indicator indicator-primary" href="#!" role="button" id="dropdownNotificationSecond" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fe fe-bell"> </i>
              </a>
              <div class="dropdown-menu dropdown-menu-xl dropdown-menu-right" aria-labelledby="dropdownNotificationSecond">
                  <div>
                      <div class="border-bottom px-3 pb-3 d-flex justify-content-between align-items-center">
                          <span class="h5 mb-0">Notifications</span>
                          <a href="# " class="text-muted"><span class="align-middle"><i class="fe fe-settings mr-1"></i></span></a>
                      </div>
                      <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 300px;">
                        <ul class="list-group list-group-flush notification-list-scroll" style="overflow: hidden; width: auto; height: 300px;">
                          {% for task in tasks %}
                          <li class="list-group-item bg-light">
                              <div class="row">
                                  <div class="col">
                                      <div class="d-flex">
                                          <img src="{{task.track.thumbnail.url}}" alt="" class="avatar-md rounded-circle">
                                          <div class="ml-3">
                                              <h5 class="font-weight-bold mb-1">
                                                {{task.track.course_title | truncatewords:3}}:</h5>
                                              <p class="mb-3">
                                                  {{task.title}}
                                              </p>
                                              <span class="font-size-xs text-muted">
                                                  <span><span class="fe fe-thumbs-up text-success mr-1"></span>{{task.date_added }},</span>
                                                  <span class="ml-1">{{task.date_added | time}}</span>
                                              </span>
                                          </div>
                                      </div>
                                      <a class="stretched-link" href=""></a>
                                  </div>
                              </div>
                          </li>
                          {% endfor %}
                      </ul><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
                      <div class="border-top px-3 pt-3 pb-0">
                          <a href="" class="text-link font-weight-semi-bold">See all Notifications</a>
                      </div>
                  </div>
              </div>
          </li>
            {% endif %}
          <li class="dropdown ml-2 d-inline-block">
            <a class="rounded-circle" href="#!" role="button" id="dropdownUserProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="avatar avatar-md avatar-indicators avatar-{{user.profile.status}}">
                <img alt="avatar" src="{% static 'assets/images/avatar/avatar.jpg' %}" class="rounded-circle">
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownUserProfile">
              <div class="dropdown-item">
                <div class="d-flex">
                  <div class="avatar avatar-md avatar-indicators avatar-{{user.profile.status}}">
                    <img alt="avatar" src="{% static 'assets/images/avatar/avatar.jpg' %}" class="rounded-circle">
                  </div>
                  <div class="ml-3 lh-1">
                    <h5 class="mb-1">{{user.first_name|capfirst}} {{user.last_name|capfirst}}</h5>
                    <p class="mb-0 text-muted">{{user.email}}</p>
                  </div>
                </div>
              </div>
              <div class="dropdown-divider"></div>
              <ul class="list-unstyled">
                <li class="dropdown-submenu dropleft-lg">
                  <a class="dropdown-item dropdown-list-group-item dropdown-toggle" href="#!">
                    <i class="fe fe-circle mr-2"></i>Status
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <form action="" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="online" value="online">
                        <button type="submit" class="dropdown-item" href="#!">
                          <span class="badge-dot bg-success mr-2"></span>Online
                        </button>
                      </form>
                    </li>
                    <li>
                      <form action="" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="offline" value="offline">
                        <button type="submit" class="dropdown-item" href="#!">
                          <span class="badge-dot bg-secondary mr-2"></span>Offline
                        </button>
                      </form>
                    </li>
                    <li>
                      <form action="" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="away" value="away">
                        <button type="submit" class="dropdown-item" href="#!">
                          <span class="badge-dot bg-warning mr-2"></span>Away
                        </button>
                      </form>
                    </li>
                    <li>
                      <form action="" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="busy" value="busy">
                        <button type="submit" class="dropdown-item" href="#!">
                          <span class="badge-dot bg-danger mr-2"></span>Busy
                        </button>
                      </form>
                    </li>
                  </ul>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'home' %}">
                    <i class="fe fe-user mr-2"></i>My Learning
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="">
                    <i class="fe fe-user mr-2"></i>Profile
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="">
                    <i class="fe fe-settings mr-2"></i>Settings
                  </a>
                </li>
              </ul>
              <div class="dropdown-divider"></div>
              <ul class="list-unstyled">
                <li>
                  <a class="dropdown-item" href="">
                    <i class="fe fe-power mr-2"></i>Sign Out
                  </a>
                </li>
              </ul>
            </div>
            </li>
        </ul>
        {% else %}
        <div class="ml-auto mt-3 mt-lg-0">
          <a href="" class="btn btn-white shadow-sm mr-1">Sign In</a>
          <a href="" class="btn btn-primary">Sign Up</a>
        </div>
        {% endif %}
      </div>
    </div>
  </nav>